<template page>
  <l-m src="/gh/ofajs/Punch-UI/packages/button/button.html"></l-m>
  <l-m src="/nos/n-icon/n-icon.html"></l-m>
  <l-m src="/gh/ofajs/Punch-UI/packages/list/list.html"></l-m>
  <style>
    :host {
      display: block;
      height: 100%;
      --max-container-width: 1200px;
    }

    .container {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .header {
      display: flex;
      align-items: center;
      height: 52px;
      border-bottom: var(--md-sys-color-normal-container) solid 1px;
    }

    .max-container {
      display: inherit;
      /* max-width: 1200px; */
      width: 100%;
      margin: 0 auto;
    }

    .main {
      display: flex;
      flex: 1;
    }

    .left-side {
      width: 240px;
      padding: 0 4px;
      overflow: hidden;
      opacity: 1;
      transition: all 0.3s ease-in-out;
    }

    .left-side-inner {
      width: 240px;
    }

    .hide-left {
      width: 0;
      opacity: 0;
    }

    .article {
      position: relative;
      flex: 1;
      overflow: hidden;
    }
  </style>
  <div class="container">
    <div class="header">
      <div
        class="max-container"
        style="padding: 0 16px; max-width: var(--max-container-width, 1200px)"
      >
        <o-page src="./header.html" id="header"></o-page>
      </div>
    </div>
    <style>
      .left-side p-list-item {
        border-radius: 8px;
        margin: 2px 0;
      }
    </style>
    <template name="list-item">
      <p-list-item button="suffix" collapse-childs="open">
        {{$data.name}}

        <x-if :value="$data.content">
          <i toggle-collapse triangle slot="suffix" style="z-index: 3"></i>
        </x-if>

        <p-list slot="childs">
          <o-fill :value="$data.content" name="list-item"></o-fill>
        </p-list>
      </p-list-item>
    </template>
    <div class="main">
      <div class="left-side" class:hide-left="hideLeft">
        <div class="left-side-inner">
          <p-list style="--ladder-left: 8px">
            <o-fill :value="list" name="list-item"></o-fill>
          </p-list>
        </div>
      </div>
      <div class="article">
        <slot></slot>
      </div>
    </div>
  </div>
  <script>
    export default async ({ load, url: layoutUrl }) => {
      const { getCurrentLang } = await load("./js/util.js");
      const lang = getCurrentLang();

      return {
        data: {
          hideLeft: sessionStorage.getItem("_old_hide_left") === "1",
          list: [
            {
              name: "选项1",
              content: [
                {
                  name: "1-1",
                  content: [
                    {
                      name: "1-1-1",
                    },
                  ],
                },
                {
                  name: "1-2",
                },
              ],
            },
            {
              name: "选项2",
            },
          ],
        },
        proto: {
          async refreshList() {
            const { header } = await load(`./${lang}/article-config.json`);

            let targetItem = null;

            for (const e of header) {
              const activePrefix = `${layoutUrl.replace(/\/layout\.html$/, "")}/${lang}/${e.prefix}`; // 导航前缀

              // 判断是否当前的前缀
              const currentSrc = this.app.current.src;
              if (currentSrc.startsWith(activePrefix)) {
                targetItem = e;
                break;
              }
            }

            if (!targetItem) {
              this.hideLeft = true;
              sessionStorage.setItem("_old_hide_left", 1);
              return;
            }

            this.hideLeft = false;
            sessionStorage.setItem("_old_hide_left", 0);

            this.list = targetItem.data || [];
          },
        },
        routerChange() {
          this.shadow.$("#header").refreshActive();
          this.refreshList();
        },
        attached() {
          this.refreshList();
        },
      };
    };
  </script>
</template>
