<template page>
  <l-m src="/gh/ofajs/Punch-UI/packages/button/button.html"></l-m>
  <l-m src="/nos/n-icon/n-icon.html"></l-m>
  <l-m src="/gh/ofajs/Punch-UI/packages/list/list.html"></l-m>
  <style>
    :host {
      display: block;
      height: 100%;
    }

    .container {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .header {
      display: flex;
      align-items: center;
      height: 52px;
      border-bottom: var(--md-sys-color-normal-container) solid 1px;
    }

    .logo-link,
    .logo {
      display: flex;
      align-items: center;
      height: 30px;
      color: inherit;
      text-decoration: none;
    }

    .logo-text {
      font-weight: bold;
      font-size: 18px;
      margin-left: 4px;
    }

    .max-container {
      display: inherit;
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
    }

    .main {
      display: flex;
      flex: 1;
    }

    .left-side {
      width: 240px;
      padding: 0 4px;
    }

    .article {
      flex: 1;
      background-color: rgba(255, 0, 0, 0.285);
    }

    .header-btn-group {
      display: flex;
      align-items: center;
      margin-left: auto;
    }
    .header-btn-group p-button {
      margin-left: 4px;
    }
  </style>
  <div class="container">
    <div class="header">
      <div
        class="max-container"
        style="display: flex; align-items: center; padding: 0 16px"
      >
        <a class="logo-link" href="">
          <img class="logo" src="https://ofajs.com/publics/logo.svg" alt="" />
          <div class="logo-text">ofa.js</div>
        </a>
        <div class="header-btn-group">
          <p-button variant="text" icon on:click="clickMode">
            <o-if :value="displayMode === 'dark'">
              <n-icon
                icon="material-symbols:dark-mode"
                style="font-size: 24px"
              ></n-icon>
            </o-if>
            <o-else-if :value="displayMode === 'light'">
              <n-icon
                icon="material-symbols:light-mode"
                style="font-size: 24px"
              ></n-icon>
            </o-else-if>
            <o-else>
              <n-icon
                icon="line-md:light-dark"
                style="font-size: 24px"
              ></n-icon>
            </o-else>
          </p-button>
          <p-button variant="text">
            <n-icon icon="mdi:language" slot="prefix"> </n-icon>
            简体中文
          </p-button>
          <p-button variant="text" icon>
            <n-icon icon="mdi:github" style="font-size: 24px"></n-icon>
          </p-button>
        </div>
      </div>
    </div>
    <style>
      .left-side p-list-item {
        border-radius: 8px;
        margin: 2px 0;
      }
    </style>
    <template name="list-item">
      <p-list-item button="suffix" collapse-childs="open">
        {{$data.name}}

        <x-if :value="$data.content">
          <i toggle-collapse triangle slot="suffix" style="z-index: 3"></i>
        </x-if>

        <p-list slot="childs">
          <o-fill :value="$data.content" name="list-item"></o-fill>
        </p-list>
      </p-list-item>
    </template>
    <div class="main">
      <div class="max-container">
        <div class="left-side">
          <p-list style="--ladder-left: 8px">
            <o-fill :value="list" name="list-item"></o-fill>
          </p-list>
        </div>
        <div class="article">
          <slot></slot>
        </div>
      </div>
    </div>
  </div>
  <script>
    export default async ({ load }) => {
      return {
        data: {
          hideLeft: true,
          displayMode: localStorage.getItem("displayMode") || "auto", // auto dark light
          list: [
            {
              name: "选项1",
              content: [
                {
                  name: "1-1",
                  content: [
                    {
                      name: "1-1-1",
                    },
                  ],
                },
                {
                  name: "1-2",
                },
              ],
            },
            {
              name: "选项2",
            },
          ],
        },
        watch: {
          displayMode(mode) {
            changeMode(mode);
          },
        },
        proto: {
          clickMode() {
            if (this.displayMode === "auto") {
              this.displayMode = "dark";
            } else if (this.displayMode === "dark") {
              this.displayMode = "light";
            } else {
              this.displayMode = "auto";
            }
          },
        },
        attached() {
          changeMode(this.displayMode);
        },
      };
    };

    function changeMode(mode) {
      if (mode === "light") {
        $("html").classList.add("theme-light-mode");
        $("html").classList.remove("theme-dark-mode");
        localStorage.setItem("displayMode", "light");
      } else if (mode === "dark") {
        $("html").classList.add("theme-dark-mode");
        $("html").classList.remove("theme-light-mode");
        localStorage.setItem("displayMode", "dark");
      } else {
        $("html").classList.remove("theme-light-mode");
        $("html").classList.remove("theme-dark-mode");
        localStorage.setItem("displayMode", "auto");
      }
    }
  </script>
</template>
