<template page>
  <l-m src="/gh/ofajs/Punch-UI/packages/button/button.html"></l-m>
  <l-m src="/nos/n-icon/n-icon.html"></l-m>
  <l-m src="/gh/ofajs/Punch-UI/packages/list/list.html"></l-m>
  <style>
    :host {
      display: block;
      height: 100%;
    }

    .container {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .header {
      display: flex;
      align-items: center;
      height: 52px;
      border-bottom: var(--md-sys-color-normal-container) solid 1px;
    }

    .max-container {
      display: inherit;
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
    }

    .main {
      display: flex;
      flex: 1;
    }

    .left-side {
      width: 240px;
      padding: 0 4px;
    }

    .article {
      position: relative;
      flex: 1;
      overflow: hidden;
    }
  </style>
  <div class="container">
    <div class="header">
      <div class="max-container" style="padding: 0 16px">
        <o-page src="./header.html" id="header"></o-page>
      </div>
    </div>
    <style>
      .left-side p-list-item {
        border-radius: 8px;
        margin: 2px 0;
      }
    </style>
    <template name="list-item">
      <p-list-item button="suffix" collapse-childs="open">
        {{$data.name}}

        <x-if :value="$data.content">
          <i toggle-collapse triangle slot="suffix" style="z-index: 3"></i>
        </x-if>

        <p-list slot="childs">
          <o-fill :value="$data.content" name="list-item"></o-fill>
        </p-list>
      </p-list-item>
    </template>
    <div class="main">
      <div class="max-container">
        <div class="left-side">
          <p-list style="--ladder-left: 8px">
            <o-fill :value="list" name="list-item"></o-fill>
          </p-list>
        </div>
        <div class="article">
          <slot></slot>
        </div>
      </div>
    </div>
  </div>
  <script>
    export default async ({ load }) => {
      return {
        data: {
          hideLeft: true,
          list: [
            {
              name: "选项1",
              content: [
                {
                  name: "1-1",
                  content: [
                    {
                      name: "1-1-1",
                    },
                  ],
                },
                {
                  name: "1-2",
                },
              ],
            },
            {
              name: "选项2",
            },
          ],
        },
        proto: {},
        routerChange() {
          this.shadow.$("#header").refreshActive();
        },
        attached() {},
      };
    };
  </script>
</template>
