<template component>
  <l-m src="/gh/ofajs/Punch-UI/packages/list/list.html"></l-m>
  <style>
    :host {
      display: block;
    }
    p-list-item {
      border-radius: 0 16px 16px 0;
      margin: 2px 0;
      transition: all 0.1s ease-in-out;
    }

    p-list-item[active-item] {
      color: var(--md-sys-color-primary);
      background-color: var(--md-sys-color-on-primary);
    }

    p-list-item a {
      color: inherit;
      text-decoration: none;
    }
  </style>

  <p-list style="--ladder-left: 8px">
    <o-fill :value="list" name="list-item"></o-fill>
  </p-list>

  <template name="list-item">
    <p-list-item
      button="suffix"
      attr:active-item="$host.activeLeftUrl === $data.finalUrl"
      collapse-childs="open"
    >
      <x-if :value="$data.finalUrl">
        <n-icon
          icon="material-symbols:article-rounded"
          slot="prefix"
          style="margin: 0 8px 0 0; font-size: 16px"
        ></n-icon>
      </x-if>
      <x-else>
        <n-icon
          icon="material-symbols:list-rounded"
          slot="prefix"
          style="margin: 0 8px 0 0; font-size: 16px"
        ></n-icon>
      </x-else>
      <x-if :value="$data.finalUrl">
        <a
          attr:href="$data.finalUrl"
          olink
          on:click="$host.emit('clicked-item')"
        >
          {{$data.name}}
        </a>
      </x-if>
      <x-else>
        <div>{{$data.name}}</div>
      </x-else>

      <x-if :value="$data.content">
        <i toggle-collapse triangle slot="suffix" style="z-index: 3"></i>
      </x-if>

      <p-list slot="childs">
        <o-fill :value="$data.content" name="list-item"></o-fill>
      </p-list>
    </p-list-item>
  </template>
  <script>
    export default async ({ load, url: menuUrl }) => {
      const { getCurrentLang } = await load("../js/util.js");
      const lang = getCurrentLang();

      return {
        tag: "article-menu",
        data: {
          list: [],
          activeLeftUrl: "",
        },
        proto: {
          async refreshList() {
            const { header } = await load(`../${lang}/article-config.json`);

            let targetItem = null;

            for (const e of header) {
              const activePrefix = `${menuUrl.replace(/\/comps\/article-menu\.html$/, "")}/${lang}/${e.prefix}`; // 导航前缀

              // 判断是否当前的前缀
              const currentSrc = this.app.current.src;
              if (currentSrc.startsWith(activePrefix)) {
                targetItem = e;
                break;
              }
            }

            if (!targetItem) {
              this.emit("hide-left", {
                data: true,
              });
              sessionStorage.setItem("_old_hide_left", 1);
              return;
            }

            this.emit("hide-left", {
              data: false,
            });
            sessionStorage.setItem("_old_hide_left", 0);

            // 如果和之前的list一样，就不用更新
            if (!this.list.length || this._old_prefix !== targetItem.prefix) {
              // 更新左侧的列表
              const list = targetItem.data || [];

              const fixList = (list) => {
                list.forEach((item) => {
                  if (item.url) {
                    const finalUrl = `${menuUrl.replace(/\/comps\/article-menu\.html$/, "")}/${lang}/${targetItem.prefix}${item.url}`;
                    const urlData = new URL(finalUrl);
                    item.finalUrl = urlData.pathname;
                  }
                  if (item.content) {
                    fixList(item.content);
                  }
                });
              };

              fixList(list);

              this.list = list;

              this._old_prefix = targetItem.prefix;
            }

            // 更新左侧的active
            this.activeLeftUrl = location.pathname;
          },
        },
        attached() {
          this.refreshList();

          this.app.on(
            "router-change",
            (this._rc_func = () => {
              this.refreshList();
            }),
          );
        },
        detached() {
          this.app.off("router-change", this._rc_func);
        },
      };
    };
  </script>
</template>
