<template component>
  <style>
    :host {
      display: block;
      padding: 128px 0;
    }

    .container {
      max-width: var(--container-max-width, 1200px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0 auto;
      padding: 0 16px;
    }

    ::slotted(p) {
      font-size: 18px;
    }

    ::slotted(h2) {
      font-size: 36px;
    }
  </style>
  <match-var pui-real-theme="dark">
    <style>
      :host(:nth-child(2n + 1)) {
        background-color: var(--md-ref-palette-primary20);
      }
    </style>
  </match-var>
  <match-var pui-real-theme="light">
    <style>
      :host(:nth-child(2n + 1)) {
        background-color: var(--md-ref-palette-primary90);
      }
    </style>
  </match-var>
  <div class="container">
    <slot></slot>
  </div>
  <script>
    export default async ({ load }) => {
      return {
        tag: "center-block",
        data: {},
      };
    };
  </script>
</template>
